body {
    background-color: #aa825d;
}

body {
	font-family: 'Trebuchet MS';
	margin: 0 auto;
	min-height: 100vh;
}

main {
	text-align: left;
	margin-left: 50px;
	margin-right: 50px;
	text-align: justify;
}

h1 {
	text-align: center;
	color: #123010;
}

h2 {
	color: #224320;
}

/*
veebilehe menüü, mille kaudu saab teistele lehtedele minna
menüü link: https://www.webucator.com/article/how-to-create-a-horizontal-navigation-menu-with-cs/#:~:text=How%20to%20Create%20a%20Horizontal%20Navigation%20Menu%20with,and%20margins%20of%20the%20menu%3A%20...%20Rohkem%20%C3%BCksuseid
*/

#menüü {
	margin: 1px;
	font-family: 'Trebuchet MS';
}

#menüü li {
	display: block;
	width: 24%;
	float: left;
	margin-left: 2px;
	border: 1px solid #000;
	text-align: center;
}

#menüü a {
	display: block;
	padding: 6px;
	text-decoration: none;
	background-color: #613f20;
	color: #e9dab8;
}

#menüü a:hover {
	background-color: #a2a461;
	color: #613f20;
}

/* veebilehe footer */

footer {
	position: sticky;
	top: 100%;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #ccd4b8;
	text-align: center;
}

.redigeeritud {
	font-size: 15px;
}

.allikad {
	font-size: 14px;
	line-height: 16px;
	margin-left: 50px;
	margin-right: 50px;
	text-align: left;
}

/* scrollbar ilusamaks*/
/* Abiks kasutasime seda videot https://www.youtube.com/watch?v=v_8CmC6cwUs&ab_channel=WebDevSimplified */

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
	background-color: #7B5D3D;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #C1A288;
}

/* Karu piltide slideshow
	Kasutasime abiks https://www.w3schools.com/howto/howto_js_slideshow.asp olevat koodi
*/

* {
	box-sizing: border-box
}

.slideshow {
	max-width: 60%;
	position: relative;
	margin: auto;
}

.mySlides {
	display: none;
}

.eelmine, .järgmine {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.järgmine {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.eelmine:hover, .järgmine:hover {
	background-color: rgba(0,0,0,0.8);
}

.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

.pildikirjeldus {
	text-align: center;
}