body {
    background-color: #925e39
}
main {
	text-align: left;
	margin-left:50px;
	margin-right:50px;
}
h1 {
	margin-left:50px;

}
/*
menüü link: https://www.webucator.com/article/how-to-create-a-horizontal-navigation-menu-with-cs/#:~:text=How%20to%20Create%20a%20Horizontal%20Navigation%20Menu%20with,and%20margins%20of%20the%20menu%3A%20...%20Rohkem%20%C3%BCksuseid
*/
#menüü {
	margin: 1px;
	width: 1440px;
	font-family: sans-serif;
}
#menüü li {
	display: block;
	width: 470px;
	float: left;
	margin-left: 2px;
	border: 1px solid #000;
	text-align: center;
}

#menüü a {
	display: block;
	padding: 6px;
	text-decoration: none;
	background-color: #000;
	color: navajowhite;
}

#menüü a:hover {
	background-color: blueviolet;
	color: #000;
}
